nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/'): img(src='/logo.png')
    #navbar.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li(class=active(path, '/')): a(href='/') Home
        //- li(class=active(path, '/apartments')): a(href='/apartments') Search
        li(class=active(path, '/renters')): a(href='/renters') Renters
        li(class=active(path, '/contact')): a(href='/contact') Contact Us
