extends ../../layouts/master
block content
  section#top
    .container-fluid
        .row
          .col-md-12.text-center
            h1 Find a home.
            h3 Find a family.
          #search.col-md-12
            .col-md-4
            .col-md-4
              .col-md-10
                input.form-control(type='text', placeholder='Search for your new home...')
              .col-md-2
                button.btn.btn-primary: i.fa.fa-search
            .col-md-4
          
          
