extends ../../layouts/master
block content
  section#top
    .container-fluid
        .row
          .col-md-12.text-center
            h1(style='text-shadow: 0 1px 0 rgba(0,0,0,.4)') Find a home. Find a family.
            h3(style='text-shadow: 0 1px 0 rgba(0,0,0,.4)') We help you find a room to share with people around the world.
          #search.col-md-12
            .col-md-4
            .col-md-4.text-center
              form.form-inline(method='get', action='/apartments')
                .input-group
                  span.input-group-addon $
                  input.form-control(type='text', name='min', placeholder='Min Amount of Rent...')
                .input-group
                  span.input-group-addon $
                  input.form-control(type='text', name='max', placeholder='Max Amount of Rent...')
                button.form-control.btn.btn-primary(type='submit'): i.fa.fa-search
            .col-md-4
          
          
