extends ../../layouts/master
block content
  .container
    .row
      #leftCol.col-md-2
        //- a.btn.btn-default.btn-sm(href='/apartments/new') Add new
        #sidebar(data-spy="affix", data-offset-top='-50')
          h3.page-header: strong Filters
          ul.nav.nav-stacked
            form(method='get', action='/apartments')
              li: input.form-control.input-sm(type='text', name='min', placeholder='Rent Min')
              li: input.form-control.input-sm(type='text', name='max', placeholder='Rent Max')
              button.btn.btn-default.btn-sm: i.fa.fa-search
              a.btn.btn-primary.btn-sm(href='/apartments'): i.fa.fa-refresh
      .col-md-10
        .col-md-12.page-header
          .col-md-6: h5 Search Results
          .col-md-6.text-right: h5= apartments.length + ' apartment(s) for rent'
          h5
        .col-md-12
          each apartment in apartments
            if apartment.renters.length !== apartment.bedrooms
              a(href='/apartments/#{apartment._id}')
                .col-md-6
                  .outer
                    .inner(style='background: url(#{apartment.photo}) no-repeat center center;')
                      h3.rent= '$' + apartment.rent
                      h4.beds= apartment.bedrooms - apartment.renters.length + ' rooms available'
