extends ../../layouts/master
block content
  .container
    .row.page-header
      a.btn.btn-default(href='/renters/new'): i.fa.fa-plus &nbsp; Create Renter
      
  .container
    .row
      .col-md-12.page-header 
        h1 All Renters
      .col-md-12
        table.table
          thead
            tr
              th Name
              th Age
              th Gender
              th Renting?
          tbody
            each user in users
              tr
                th= user.name
                td= user.age
                td.text-capitalize= use.gender
                if renter.isRenting
                  td Yes
                else
                  td No
                    
