extends ../../layouts/master
block content
  form.form-horizontal(method='post', action='/renters/create')
    fieldset
      legend Create New Renter
      .form-group
        label.col-md-1.control-label(for='name') Name
        .col-md-11
          input#name.form-control(type='text', name='name', placeholder='Enter a full name', autofocus='true')
      .form-group
        label.col-md-1.control-label(for='age') Age
        .col-md-11
          input#age.form-control(type='number', name='age', placeholder='Enter an age')
      .form-group
        label.col-md-1.control-label(for='gender') Gender
        .col-md-11
          .radio
            label
              input#male(type='radio', name='gender', value='male')
              span Male
          .radio
            label
              input#female(type='radio', name='gender', value='female')
              span Female
      .form-group
        label.col-md-1.control-label(for='photo') Photo
        .col-md-11
          input#photo.form-control(type='url', name='photo', placeholder='http://')
      .form-group
        .col-md-11.col-md-offset-1
          button.btn.btn-default: i.fa.fa-user &nbsp; Create Renter
